html, body {
  height: 100%;
}

ol {
  height: 33%;
  overflow: scroll;
  padding-left: 50px;
  margin: 0px;
}

ol span {
  font-size: 10px;
}

.lat,
.lng {
  display: inline-block;
  width: 45%
}

.accuracy {
  display: inline-block;
  width: 10%;
}

ol li:first-child {
  background: #bada55
}

#forge-geolocation { background: #aaa; }
#forge-geolocation:before {
  content:"forge.geolocation.getCurrentPosition";
  background: #aaa;
}

#watchLocation {
  background: #ccc;
}
#watchLocation:before {
  content:"navigator.geolocation.watchPosition";
  background: #ccc;
}


#getCurrentPosition {
  background: #eee;
}
#getCurrentPosition:before {
  background: #eee;
  content:"navigator.geolocation.getCurrentPosition";
  content: "getCurrentPosition"
}
